<%= render 'errors' %>

<%= form_for @comment.chain do |f| %>
    <div class="am-input-group" style="margin-bottom: 5px; width: 91%">
      <%= f.text_area :content, class: "am-form-field", placeholder:"写下你的评论……", style:"width:99%;margin-left:0.5%;border-radius:5px;" %>
      <%= f.submit "提交", class:"am-btn am-btn-default", style:"float:right; margin-top:10px; margin-right:3px"%>

    </div>
<% end %>