<% content_for :head do %>
    <title><%= @user.login %>的提问-者也</title>
<% end %>

<div class="am-u-sm-3"></div>
<div class="am-u-sm-9 am-u-sm-offset-3">
  <span class="am-monospace" style="font-weight: bold; font-size: 1.1em"><%= @user.login %>的提问(<%= @questions.length %>)</span>
  <hr style="margin-top: 0px;">
</div>
<% @questions.each do |question| %>
<% @question = question %>
<%= render partial: 'questions/question_box', locals: {detail: true} %>
<% end %>