<div class="am-u-sm-3"></div>
<div class="am-u-sm-9 am-u-sm-offset-3">
  <span class="am-monospace" style="font-weight: bold">我的提问(<%= @answers.length %>)</span>
  <hr style="margin-top: 0px;">
</div>