<li class="am-comment">
  <a href="#link-to-user-home">
    <%=image_tag 'default_user.jpe', class: 'am-comment-avatar', style: 'width:4 8px; height: 48px' %>
  </a>

  <div class="am-comment-main">
    <header class="am-comment-hd">
      <!--<h3 class="am-comment-title">评论标题</h3>-->
      <div class="am-comment-meta">
        <a href="#link-to-user" class="am-comment-author"><%= @comment.user.login %></a>
        <span>评论于<%= @comment.created_at %></span>
      </div>
    </header>

    <div class="am-comment-bd">
      <%= @comment.content.html_safe%>
    </div>
  </div>
</li>
