<ul class="am-comments-list am-comments-list-flip">
  <li class="am-comment">
    <a href="#link-to-user-home">
      <%=image_tag "default_user.jpe", class: "am-comment-avatar", style: "width:4 8px; height: 48px" %>
    </a>

    <div class="am-comment-main">
      <header class="am-comment-hd">
        <!--<h3 class="am-comment-title">评论标题</h3>-->
        <div class="am-comment-meta">
          <a href="#link-to-user" class="am-comment-author">某人</a>
          <span>评论于2016-05-02</span>
        </div>
      </header>

      <div class="am-comment-bd">
        我是一条评论。
      </div>
    </div>
  </li>

  <li class="am-comment">
    <a href="#link-to-user-home">
      <%=image_tag "default_user.jpe", class: "am-comment-avatar", style: "width:4 8px; height: 48px" %>
    </a>

    <div class="am-comment-main">
      <header class="am-comment-hd">
        <!--<h3 class="am-comment-title">评论标题</h3>-->
        <div class="am-comment-meta">
          <a href="#link-to-user" class="am-comment-author">某人</a>
          <span>评论于2016-05-03</span>
        </div>
      </header>

      <div class="am-comment-bd">
        我是另一条评论。
      </div>
    </div>
  </li>
</ul>