<div class="am-g am-g-collapse">
  <div class="am-u-sm-4"></div>
  <div class="am-u-sm-4 am-u-sm-offset-4">
    <div style="text-align: center">
      <span>
        © 2016 Morocco Group. Developed with Ruby on Rails.
      </span>
      <br>
      <span>
        者也，一起提高姿势水平！
      </span>
    </div>
  </div>
  <div class="am-u-sm-4"></div>
</div>