<footer class="am-g am-g-collapse" style="bottom: 0; position: fixed; width: 100%">
  <div class="am-u-sm-2"></div>
  <div class="am-u-sm-8 am-u-sm-offset-2">
    <hr>
    <div style="display: inline-block">
      <span style="color:#999">
        者也，一起提高姿势水平！
      </span><br>
      <span style="color:#999">
        © 2016 Morocco Group. Developed with Ruby on Rails.
      </span>
    </div>
    <div style="display: inline-block;float: right">
      <span style="color:#999">联系我们</span>
      <span style="color:#999">|关于</span>
    </div>
  </div>
  <div class="am-u-sm-2"></div>
</footer>