<footer class="am-g am-g-collapse" style="bottom: 0; width: 100%; margin-top: 30px;">
  <div class="am-u-sm-2"></div>
  <div class="am-u-sm-8 am-u-sm-offset-2">
    <hr>
    <div style="display: inline-block">
      <span style="color:#999">
        者也，一起提高姿势水平！
      </span><br>
      <span style="color:#999">
        © 2016 Morocco Group. Developed with Ruby on Rails.
      </span>
    </div>
    <div style="display: inline-block;float: right">
      <button type="button" class="am-btn am-btn-default am-btn-sm" style="border:1px transparent; background-color: transparent; color:#999" data-am-modal="{target: '#my-alert1'}">
        联系我们
      </button>
      <div class="am-modal am-modal-alert"  id="my-alert1">
        <div class="am-modal-dialog">
          <div class="am-modal-hd">联系我们</div>
          <div class="am-modal-bd">
            Github：https://github.com/zheye-dev/zheye
          </div>
          <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
          </div>
        </div>
      </div>

      <span style="color:#999">|</span>

      <button type="button" class="am-btn am-btn-default am-btn-sm" style="border:1px transparent; background-color: transparent; color:#999" data-am-modal="{target: '#my-alert2'}">
        关于
      </button>

      <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert2">
        <div class="am-modal-dialog">
          <div class="am-modal-hd">关于</div>
          <div class="am-modal-bd">
            者也，一起提高姿势水平！
            © 2016 Morocco Group. Developed with Ruby on Rails.
            Group members: 骆铮 宋肇哲 瞿文浩 张福明 黄河
          </div>
          <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="am-u-sm-2"></div>
</footer>

