<div style="display: inline-block; float: left;">
  <div style="display: inline-block; width: 50px; text-align: center">
    <span>10</span><br>
    <span>投票</span>
  </div>
  <div style="display: inline-block; width: 50px; text-align: center">
    <span>10</span><br>
    <span>回答</span>
  </div>
  <div style="display: inline-block; width: 50px; text-align: center">
    <span>10</span><br>
    <span>评论</span>
  </div>
</div>
<div>
  <div>
    <a href="##">
      <span style="font-size: 1.1em;">问题描述问题描述问题描述</span>
    </a>
  </div>
  <div style="font-size: 0.8em; text-align: right">
    <span>发布于2016-05-01</span>
    <a href="##">用户test</a>
    <span>21</span>
  </div>
</div>

<hr>

<div style="display: inline-block; float: left;">
  <div style="display: inline-block; width: 50px; text-align: center">
    <span>10</span><br>
    <span>投票</span>
  </div>
  <div style="display: inline-block; width: 50px; text-align: center">
    <span>10</span><br>
    <span>回答</span>
  </div>
  <div style="display: inline-block; width: 50px; text-align: center">
    <span>10</span><br>
    <span>评论</span>
  </div>
</div>
<div>
  <div>
    <a href="##">
      <span style="font-size: 1.1em;">问题描述问题描述问题描述</span>
    </a>
  </div>
  <div style="font-size: 0.8em; text-align: right">
    <span>发布于2016-05-01</span>
    <a href="##">用户test</a>
    <span>21</span>
  </div>
</div>