  <h2>问题描述问题描述问题描述问题描述问题描述问题描述问题描述</h2>
  <p class="am-san-serif">问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述</p>
  <div style="display: inline-block">
    <a href="##">2条评论</a>
    <a href="##">添加评论</a>
    <a href="##">分享</a>
  </div>
  <div style="display: inline-block; float: right">
    <span>发布于2016-05-01</span>
    <a href="##">用户test</a>
    <span>21</span>
  </div>
  <hr>
