<div class="am-dropdown" data-am-dropdown>
  <button class="am-btn am-btn-sm am-btn-xs am-dropdown-toggle" style="background-color: transparent" data-am-dropdown-toggle>分享<span class="am-icon-caret-down"></span></button>
  <ul class="am-dropdown-content">
    <div class="bdsharebuttonbox">
      <li><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a></li>
      <li><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a></li>
      <li><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a></li>
      <li><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a></li>
      <li><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></li>
    </div>
  </ul>
</div>
<script>
  window._bd_share_config={"common":{"bdSnsKey":{},"bdText":document.title ,"bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>