<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-2">
  <div class="am-modal-dialog">
    <div class="am-modal-hd" style="margin:5px 0 15px;">注册
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">
      <iframe src="<%= new_user_path %>", style="height:180px;"></iframe>
    </div>
  </div>
</div>