<div id="answer-error" class="am-alert am-alert-warning" style="visibility: hidden" data-am-alert>
  <% if @answer.errors.any? %>
      <button type="button" class="am-close">&times;</button>
      <h3>警告</h3>

      <ul>
        <% @answer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
</div>

