<div id="answersheader">
  <div class="am-u-sm-3"></div>
  <div class="am-u-sm-9 am-u-sm-offset-3">
    <div style="display: inline-block; vertical-align: middle">
      <span class="am-monospace" style="font-weight: bold"><%= @answers.length %>个回答</span>
    </div>
    <div style="display: inline-block; float: right; vertical-align: middle">
      <div class="am-dropdown" data-am-dropdown>
        <button class="am-btn am-btn-sm am-btn-xs am-dropdown-toggle" style="background-color: transparent" data-am-dropdown-toggle>综合排序<span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li class="am-disabled"><a href="#">综合排序</a></li>
          <li class="am-divider"></li>
          <li><a href="#">时间排序</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</div>

<div id="answerslist">
  <% @answers.each do |answer| %>
      <% @answer = answer %>
      <%= render "answers/show" %>
  <% end %>
</div>