<div id="answersheader">
  <div class="am-u-sm-3"></div>
  <div class="am-u-sm-9 am-u-sm-offset-3">
    <div style="display: inline-block; vertical-align: middle">
      <span class="am-monospace" style="font-weight: bold; font-size: 1.1em"><%= @answers.length %>个回答</span>
    </div>
    <div style="display: inline-block; float: right; vertical-align: middle">
      <% if @sort == "1" %>
          <div class="am-btn-group doc-js-btn-1" data-am-button>
            <label class="am-btn am-btn-secondary am-btn-sm am-active">
              <input type="radio" name="options" value="1" id="option1" checked> 综合排序
            </label>
            <label class="am-btn am-btn-secondary am-btn-sm">
              <input type="radio" name="options" value="2" id="option2"> 时间排序
            </label>
          </div>
      <% else %>
          <div class="am-btn-group doc-js-btn-1" data-am-button>
            <label class="am-btn am-btn-secondary am-btn-sm">
              <input type="radio" name="options" value="1" id="option1"> 综合排序
            </label>
            <label class="am-btn am-btn-secondary am-btn-sm am-active">
              <input type="radio" name="options" value="2" id="option2" checked> 时间排序
            </label>
          </div>
      <% end %>
    </div>
    <hr>
  </div>
</div>
</div>

<script>
  // 获取选中的值
  $(function() {
    var $radios = $('[name="options"]');
    $radios.on('change',function() {
      console.log('单选框当前选中的是：', $radios.filter(':checked').val());
      window.location.href = changeURLArg(window.location.href, 'sort', $radios.filter(':checked').val());
    });
  });
</script>

<% if @sort == "1" %>
    <div id="answerslist">
      <% @answers.order("score DESC").each do |answer| %>
          <% @answer = answer %>
          <%= render "answers/show" %>
      <% end %>
    </div>
<% else %>
    <div id="answerslist">
      <% @answers.order("created_at DESC").each do |answer| %>
          <% @answer = answer %>
          <%= render "answers/show" %>
      <% end %>
    </div>
<% end %>

<script>
  function changeURLArg(url, arg, arg_val) {
    var pattern = arg + '=([^&]*)';
    var replaceText = arg + '=' + arg_val;
    if (url.match(pattern)) {
      var tmp = '/(' + arg + '=)([^&]*)/gi';
      tmp = url.replace(eval(tmp), replaceText);
      return tmp;
    }else{
      if(url.match('[\?]')){
        return url + '&' + replaceText;
      }else{
        return url + '?' + replaceText;
      }
    }
    return url + '\n' + arg + '\n' + arg_val;
  }
</script>

<script>
  $(document).ready(function() {
        console.log(window.location.href);
        console.log("log");
      }
  );
</script>

<% logger.debug("hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh") %>
<% logger.debug(request.fullpath) %>
<% logger.debug("hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh") %>