<div id="answersheader">
  <div class="am-u-sm-3"></div>
  <div class="am-u-sm-9 am-u-sm-offset-3">
    <div style="display: inline-block; vertical-align: middle">
      <span class="am-monospace" style="font-weight: bold; font-size: 1.1em"><%= @answers.length %>个回答</span>
    </div>
    <div style="display: inline-block; float: right; vertical-align: middle">
      <div class="am-btn-group doc-js-btn-1" data-am-button>
        <label class="am-btn am-btn-secondary am-btn-sm am-active">
          <input type="radio" name="options" value="1" id="option1" checked> 综合排序
        </label>
        <label class="am-btn am-btn-secondary am-btn-sm">
          <input type="radio" name="options" value="2" id="option2"> 时间排序
        </label>
        <!--
        <label class="am-btn am-btn-secondary am-btn-sm">
          <input type="radio" name="options" value="3" id="option3"> 迷之排序
        </label>
        -->
      </div>
    </div>
    <hr>
  </div>
</div>

<div id="answerslist">
  <% @answers.each do |answer| %>
      <% @answer = answer %>
      <%= render "answers/show" %>
  <% end %>
</div>