<% content_for :head do %>
  <meta name="description" content="者也，友好的中文问答网站">
  <title>者也，友好的中文问答网站</title>
<% end %>

<div class="am-g am-g-collapse">
    <div class="am-u-sm-8">The left part</div>
    <div class="am-u-sm-4">The right part</div>
</div>

