<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="者也，友好的中文问答网站">
  <meta name="keywords" content="者也 问答 社区">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>者也，友好的中文问答网站</title>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div class="am-container" style="max-width: none">
  Header(will be replaced by some pictures)
</div>
<div class="am-g">
    <div class="am-u-sm-8">The left part</div>
    <div class="am-u-sm-4">The right part</div>
</div>

</body>
</html>