<% content_for :head do %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="者也，友好的中文问答网站">
  <meta name="keywords" content="者也 问答 社区">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>者也，友好的中文问答网站</title>
  <%= favicon_link_tag 'favicon.ico' %>
<% end %>

<header class="am-topbar am-topbar-inverse">
  <h1 class="am-topbar-brand" style="margin-left: 12%">
    <a href="#">者也</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <form class="am-topbar-form am-topbar-left am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form>

    <div class="am-topbar-right">
      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>用户test <span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li><a href="#">我的主页</a></li>
          <li><a href="#">我的提问</a></li>
          <li><a href="#">我的回答</a></li>
          <li><a href="#">我的评论</a></li>
          <li><a href="#">我赞成的</a></li>
          <li><a href="#">我反对的</a></li>
        </ul>
      </div>
    </div>

    <div class="am-topbar-right">
      <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">登录/注册</button>
    </div>
  </div>
</header>

<div class="am-g am-g-collapse">
    <div class="am-u-sm-8">The left part</div>
    <div class="am-u-sm-4">The right part</div>
</div>

