<% content_for :head do %>
  <meta name="description" content="者也，友好的中文问答网站">
  <title>者也，友好的中文问答网站</title>
<% end %>

<div class="am-g am-g-collapse">
    <div class="am-u-sm-2">
      <div style="width: 50px; float: right; text-align: center; padding-top: 5px;">
        <a href="##" class="am-icon-btn am-primary am-icon-arrow-up am-icon-btn-sm"></a>
        <br>
        <span>233</span>
        <br>
        <a href="##" class="am-icon-btn am-primary am-icon-arrow-down am-icon-btn-sm"></a>
      </div>
    </div>
    <div class="am-u-sm-6">
      <h2>问题描述问题描述问题描述问题描述问题描述问题描述问题描述</h2>
      <p class="am-san-serif">问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述问题详细描述</p>
      <div style="display: inline-block">
        <a href="##" id="comments">2条评论</a>
        <a href="##">添加评论</a>
        <a href="##">分享</a>
      </div>
      <div style="display: inline-block; float: right">
        <span>发布于2016-05-01</span>
        <a href="##">用户test</a>
        <span>21</span>
      </div>
      <div id="question_comments" style="display: none">
        <ul class="am-comments-list am-comments-list-flip">
          <li class="am-comment">
            <a href="#link-to-user-home">
              <%=image_tag "default_user.jpe", class: "am-comment-avatar", style: "width:4 8px; height: 48px" %>
            </a>

            <div class="am-comment-main">
              <header class="am-comment-hd">
                <!--<h3 class="am-comment-title">评论标题</h3>-->
                <div class="am-comment-meta">
                  <a href="#link-to-user" class="am-comment-author">某人</a>
                  <span>评论于2016-05-02</span>
                </div>
              </header>

              <div class="am-comment-bd">
                我是一条评论。
              </div>
            </div>
          </li>

          <li class="am-comment">
            <a href="#link-to-user-home">
              <%=image_tag "default_user.jpe", class: "am-comment-avatar", style: "width:4 8px; height: 48px" %>
            </a>

            <div class="am-comment-main">
              <header class="am-comment-hd">
                <!--<h3 class="am-comment-title">评论标题</h3>-->
                <div class="am-comment-meta">
                  <a href="#link-to-user" class="am-comment-author">某人</a>
                  <span>评论于2016-05-03</span>
                </div>
              </header>

              <div class="am-comment-bd">
                我是另一条评论。
              </div>
            </div>
          </li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="am-u-sm-2">
      <%= image_tag "ad_test.png" , style: "width: 90%; float:right" %>
    </div>
    <div class="am-u-sm-2"></div>
</div>

<div class="am-g am-g-collapse">
  <div class="am-u-sm-2"></div>
  <div class="am-u-sm-6 am-u-sm-offset-2">
    <div style="display: inline-block;">
      <span style="font-weight: bold">2个回答</span>
    </div>
    <div style="display: inline-block; float: right;">
      <div class="am-dropdown" data-am-dropdown>
        <button class="am-btn am-btn-sm am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle>综合排序<span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li class="am-disabled"><a href="#">综合排序</a></li>
          <li class="am-divider"></li>
          <li><a href="#">时间排序</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="am-u-sm-2"></div>
  <div class="am-u-sm-2"></div>
</div>

<div class="am-g am-g-collapse">
  <div class="am-u-sm-2">
    <div style="width: 50px; float: right; text-align: center; padding-top: 5px;">
      <a href="##" class="am-icon-btn am-primary am-icon-arrow-up am-icon-btn-sm"></a>
      <br>
      <span>23</span>
      <br>
      <a href="##" class="am-icon-btn am-primary am-icon-arrow-down am-icon-btn-sm"></a>
    </div>
  </div>
  <div class="am-u-sm-6">
    <div>
      <a href="##">用户test</a>
      <span>21</span>
    </div>
    <p class="am-san-serif" style="margin-top: 0px;">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</p>
    <div style="display: inline-block">
      <a href="##">3条评论</a>
      <a href="##">添加评论</a>
      <a href="##">分享</a>
    </div>
    <div style="display: inline-block; float: right">
      <span>发布于2016-05-02</span>
    </div>
    <hr>
  </div>
  <div class="am-u-sm-2">
    <span></span>
  </div>
  <div class="am-u-sm-2"></div>
</div>

<div class="am-g am-g-collapse">
  <div class="am-u-sm-2">
    <div style="width: 50px; float: right; text-align: center; padding-top: 5px;">
      <a href="##" class="am-icon-btn am-primary am-icon-arrow-up am-icon-btn-sm"></a>
      <br>
      <span>32</span>
      <br>
      <a href="##" class="am-icon-btn am-primary am-icon-arrow-down am-icon-btn-sm"></a>
    </div>
  </div>
  <div class="am-u-sm-6">
    <div>
      <a href="##">用户test</a>
      <span>21</span>
    </div>
    <p class="am-san-serif" style="margin-top: 0px;">问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答问题回答</p>
    <div style="display: inline-block">
      <a href="##">4条评论</a>
      <a href="##">添加评论</a>
      <a href="##">分享</a>
    </div>
    <div style="display: inline-block; float: right">
      <span>发布于2016-05-03</span>
    </div>
    <hr>
  </div>
  <div class="am-u-sm-2">
    <span></span>
  </div>
  <div class="am-u-sm-2"></div>
</div>